<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
  <mapper namespace="com.spring.mapper.KSH_EmailWriteMapper">
 	 	
 	<!-- 메일 보내기 -->
 	
 	<insert id="insertEmail" parameterType="com.spring.dto.Email">
 		INSERT INTO EMAIL (email_id, 
 						   sender_id, 
 						   recipient_id, 
 						   email_subject, 
 						   body, 
 						   is_read, 
 						   is_delete, 
 						   file_exist,
 						   send_date)
					VALUES (seq_email_id.nextval,
							#{sender_id},
							#{recipient_id},
							#{email_subject},
							#{body},
							'F',
							'F',
							'F',
							TO_DATE(SYSDATE, 'YYYY-MM-DD HH24:MI:SS'))
 	</insert>

 	
 </mapper>