<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace="com.spring.mapper.LJH_FileMapper">
 	 	
 	 <!-- 모든 파일 출력 -->
 	<select id="getFilebyEmailId" resultType="com.spring.dto.EmailFile">
 		SELECT 
			file_id,
			email_id,
			path,
			uuid,
			file_subject,
			file_size,
			file_date
		FROM email_file
		WHERE email_id = #{emailId}
 	</select>
 	
 </mapper>